#about {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;

  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 2rem auto;

    .aboutUsTitle {
      font-size: 3.75rem;
      margin-bottom: 1rem;
    }
    .aboutUsSubtitle {
      font-size: 2.5rem;
      margin-bottom: 1.25rem;
    }
    .aboutSerenPic {
      padding: 1rem;
      margin-bottom: 1.25rem;
      width: 14rem;
      border-radius: 1.8rem;
    }
    .aboutTextTop{
      font-weight: 600;
      font-size: 1.55rem;
    }
    .aboutUsDescription {
      font-size: 1.5rem;
    }

  }
  .ourStaff{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    flex-direction: column;
    /* width: 100%; */
    margin: 2rem;

    .staffTitle{
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }

    .staffImages{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 94vw;

      .imgItem{
        display: flex;
        flex-direction: column;
        text-align: center;

        .staffName{
          margin-bottom: 0.25rem;
          font-size: 1.6rem;
          color: #475924;
        }

        .staffJob{
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 0.5rem;
        }

        .staffImage{
          object-fit: cover;
          height: 22rem;
          width: 22rem;
          margin: 0.5rem;
          margin-bottom: 0.2rem;
          border-radius: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width:900px) {
  #about {
    .ourStaff{
        .staffImages{
          .imgItem{
            .staffName{
              font-size: 1.9rem;
            }
            .staffJob{
              font-size: 1.3rem;
            }
            .staffImage{
              height: 20rem;
              width: 20rem;
              margin: 0.3rem;
            }
          }
        }
    }
  }
}

@media screen and (max-width:560px) {
  #about{
    .aboutUs{
      .aboutTextTop{
        font-size: 1.3rem;
      }
      .aboutUsDescription{
        font-size: 1.25rem;
        max-width: 92%;
      }

    }
    .aboutSerenPic{
      max-width: 60%;
      padding: 0.5rem;
    }
  }
}
