#about {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;

  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 2rem auto;

    .aboutUsTitle {
      margin-bottom: 1rem;
      color: #41ae99;
      font-size: 5rem;
      font-family: 'Dancing Script', cursive;
      }
    .aboutUsSubtitle {
      font-size: 3rem;
      margin: 1.25rem 0;
      /* color: #4291b0; */
      color: #fc6c6b;
      font-family: 'Dancing Script', cursive;
    }
    .aboutSerenPic {
      /* padding: 1rem; */
      margin: 1rem;
      width: 14rem;
      border-radius: 1.7rem;
    }
    .aboutTextTop{
      font-weight: 600;
      font-size: 1.55rem;
      /* color: #41ae99; */
    }
    .aboutUsDescription {
      font-size: 1.5rem;
    }

  }
  .ourStaff{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
    /* background: #9090aa; */

    .staffTitle{
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #fc6c6b;
      font-family: 'Dancing Script', cursive;
    }

    .staffImages{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100vw;

      .imgItem{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0.75rem 0;
        padding: 1.2rem;

        .staffName{
          margin: 0.25rem 0;
          font-size: 1.6rem;
          color: #41ae99;
        }

        .staffJob{
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 0.5rem;
        }

         .staffDescription{
          font-size: 1rem;
          max-width: 22rem;
          margin-left: 1.5rem;
        }
        .imgItemSection{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

        }

        .staffImage{
          object-fit: cover;
          height: 19rem;
          width: 19rem;
          margin: 0.5rem;
          margin-bottom: 0.2rem;
          border-radius: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width:640px) {
  #about {
    .ourStaff{
      .staffTitle{
        font-size: 2.5rem;
        margin-bottom: 0;
      }
        .staffImages{
          .imgItem{
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;

            .staffImage{
              height: 22rem;
              width: 21rem;
              margin: 0.3rem;
              margin-top: 0;

            }
            .imgItemSection{
              /* margin-bottom: 0; */
              .staffName{
                font-size: 1.8rem;
                padding-top: 0.75rem;
              }
              .staffJob{
                font-size: 1.3rem;
              }
              .staffDescription{
                font-size: 0.8rem;
                max-width: 22rem;
                margin-left: 0;

              }
            }
          }
        }
    }
  }
}

@media screen and (max-width:560px) {
  #about{
    .aboutUs{
      .aboutUsTitle{
        font-size: 4rem;
      }
      .aboutUsSubtitle{
        font-size: 2.5rem;
      }
      .aboutTextTop{
        font-size: 1.3rem;
      }
      .aboutUsDescription{
        font-size: 1.25rem;
        max-width: 92%;
      }

    }
    .aboutSerenPic{
      max-width: 60%;
      margin: 0.5rem;
    }
  }
}
