#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .homeItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homeTitlePic {
    margin-bottom: 1.5rem;
    height: 32rem;
    width: auto;
  }

  .homeBtnLink{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #9b2232;
    font-weight: 700;
    /* border: 2px solid #82a456;
    padding: 0.75rem;
    border-radius: 10rem; */
  }
  .homeBtnLink:hover{
    opacity: 0.6;
    cursor: pointer;
  }
}

@media screen and (max-width:640px) {
  #home{
    .homeTitlePic {
      /* font-size: 4.5rem; */
      height: 24rem;
      margin-bottom: 1rem;
    }
    .homeBtnLink {
      font-size: 1rem;
    }
  }
}
