#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(233, 200, 207);

  .homeItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #FAF9F6;
    box-shadow: 0px 0px 7px #a9aaca;
    background: #FAF9F6;
    padding: 2rem;
    border-radius: 2.25rem;
  }
  .homeItems:hover{
    opacity: 0.8;
  }

  .homeTitlePic {
    margin-right: 1.75rem;
    height: 6rem;
    width: auto;
  }
  .homePoem {
    /* height: 8rem; */
    /* width: auto; */
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #a9aaca;
    margin-left: 1rem;
  }
}

@media screen and (max-width:860px) {
  #home{
    .homeItems{
      flex-direction: column;
      width: 80vw;
    }
    .homeTitlePic {
      height: 2.8rem;
      margin-bottom: 1rem;
      margin-right: 0;
    }
    .homePoem {
      font-size: 1.5rem;
      margin-left: 0;
    }
  }
}
