#jobs {
  min-height: calc(100vh - 6.4rem);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .jobsSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    width: 90%;
    margin: 2.5rem auto;

    .jobTitle {
      text-decoration: underline;
      font-size: 1.7rem;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.508);
    }

    .jobDescription {
      margin: 0.25rem 0;
      font-size: 1.6rem;
      font-weight: bold;
      width: 90%;
    }
  }
}


@media screen and (max-width:560px) {
  #jobs{
    .jobsSection {
      width: 85%;
      font-size: 0.8rem;

      .jobTitle {
        font-size: 1.4rem;
      }

      .jobDescription {
        font-size: 1.2rem;
        width: 95%;
      }
    }
  }
}
