#footer {
  width: 100vw;
  height: 5rem;
  /* background: #eae9e8; */
  background: #57899c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faf9f6;

  .footerLink {
    font-style: italic;
    font-weight: 500;
    color: #dcdada;

  }
  .footerLink:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media screen and (max-width:560px) {
  #footer {
    font-size: 0.65rem;
  }
}
