#navbar {
  height: 5rem;
  width: 100vw;
  /* max-width: 80rem; */
  margin: 0 auto;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky; */
  top: 0;
  z-index: 3;
  background: #4291b0;

  .logo {
    object-fit: contain;
    height: 5rem;
    width: auto;
    padding: 0.5rem;
    padding-left: 0;
  }
  .navbarDesktopLink {
    margin: 1rem;
    cursor: pointer;
    color: #faf9f6;
    font-size: 1.1rem;
  }
  .navbarDesktopLink:hover {
    opacity: 0.7;
  }

  .burgerMenu {
    display: none;
    height: 2.5rem;
    /* padding: 0.25rem; */
    padding-right: 0;
    margin-left: 2rem;
    cursor: pointer;
  }
  .burgerMenu:hover {
    opacity: 0.6;
  }

  .navMenu {
    position: absolute;
    top: 5rem;
    right: 0.25rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #4291b0;
    border-radius: 0.75rem;

    .navMenuLink {
      color: rgb(30, 30, 30);
      padding: 0.5rem 3rem;
      margin: 0.25rem;
      border-radius: 0.5rem;
      background: #FAF9F6;
    }
    .navMenuLink:hover {
      opacity: 0.7;
    }
  }
  @media screen and (max-width:720px) {
    .logo{
      left: 0;
    }
    .burgerMenu {
      display: flex;
      /* margin-left: 1rem; */
    }
    .navbarDesktop {
      display: none;
    }
  }
}
