* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}
body {
  background: #FAF9F6;
  color: rgb(30, 30, 30);
  /* overflow: hidden; */
  overflow-y: scroll;
  font-family: 'Arapey', serif;
}

/* .container {
  overflow-x: hidden;

} */
